
  <div class="modal-header">
    <h4 class="modal-title">Authorization</h4>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
    <div class="alert alert-success" role="alert" ng-show="info">{{info}}</div>
    <div class="row">
      <div class="col-md-6">     

        <h4> Enter user info:</h4>
          <div class="input-group">
          <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" 
                ng-model="user.username">
          <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1" 
                ng-model="user.password">
        </div> 
          <button type="button" class="btn btn-secondary" ng-click="authUser(user)">
           Log in <span ng-show="isLoadingLogin"class="glyphicon glyphicon-refresh glyphicon-spin"></span> 
          </button>
      </div>

      <div class="col-md-6"> 
        <h4> Registration:</h4>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Username" ng-model="userToCreate.username">
          <input type="password" class="form-control" placeholder="Password" ng-model="userToCreate.password">
        </div>

        <button type="button" class="btn btn-secondary" ng-click="createUser(userToCreate)">
          Register <span ng-show="isLoadingReg"class="glyphicon glyphicon-refresh glyphicon-spin"></span> 
        </button>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-info" type="button" ng-click="close()">Close</button>
  </div>

