<div class="container" >
	<div class="fade-in" ng-show="!isLoading">
		<div class="header-custom">
			<ol class="breadcrumb">
			  <li class="active"><a href="#">Home</a></li>
			  <li  class="active"></li>
			</ol>
		</div>
		<div ng-show="!error">
		  <table class="table forum table-striped">
		    <thead>
		      <tr>
		        <th class="cell-stat"></th>
		        <th></th>
		        <th class="cell-stat-1-5x text-center"></th>
		        <th class="cell-stat-1-5x text-center"></th>
		        <th class="cell-stat-2x text-center"></th>
		      </tr>
		    </thead>
		    <tbody>
					<tr class="sections" ng-repeat="section in sections">
		        <td class="text-center"> 
								<div class="user-icon" style="background-color: {{'#'+section.color}}"><i class="fa {{section.icon}} fa-2" style="font-size: 0.9em; "aria-hidden="true"></div></i>
		        </td>
		        <td>
		          <h4><a href="#/s/{{link+section.title}}">{{section.title | capitalize}}</a><br>
		          <small> {{section.description}}</a></small>
		          </h4>
		        </td>
						<td class="text-center"> </td>
		        <td class="text-center hidden-xs "> {{section.discussions.length}} <br/>
		        <span class="glyphicon glyphicon-cutlery text-info"></span></td>
		        <td class="text-center hidden-xs "></td>
		      </tr>
		    </tbody>
		  </table>
		</div>

	<div ng-show="!isLoading && error">
		<div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
	</div>
	<div ui-view="modal"></div>
</div>